header {
    background-color: #452D9C;
    color: #fff;
    padding: 20px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  }

  .header-titulo {
    flex: 1; 
  }

  .header-titulo h1 {
    margin: 0;
    font-family: "Smallville", sans-serif;
  }

  /* Cambiar a otro color para dispositivos móviles */
  @media screen and (max-width: 768px) {
    header {
      background-color: #452D9C; 
    }
    nav {
      background-color: #666; 
    }
    nav ul li {
      display: block;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  .menu-principal {
    margin-top: 20px;
    text-align: center;
  }

  .acciones-usuario {
    float: right;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    font-size: 14px;
    background-color: #B81D70;
    font-family: "Impact", sans-serif;
  }

  .acciones-usuario a {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
  }

  .acciones-usuario a:hover {
    color: #ccc;
  }