  .contenido {
  margin-bottom: 20px; 
  width: 48%;
  font-family: 'Montserrat', sans-serif;
  }
  
  .contenedor-flex {
      display: flex;
      justify-content: space-between;
  }
  .contenido img{
    width: 100%;
  height: auto; 
  position: relative;
    }
    
