.canvas-box{
    height: 500px;
}

.btn-purple {
    background-color: purple;
    color: white;
}

.timeline-container {
    max-height: 400px; 
    overflow-y: auto;
    padding-right: 15px; 
  }
  