.canvas-box{
    height: 500px;
}

.btn-purple {
    background-color: purple;
    color: white;
}

.timeline-container {
    max-height: 400px; /* Ajusta esta altura según sea necesario */
    overflow-y: auto;
    padding-right: 15px; /* Opcional: Añade un pequeño relleno para que el contenido no quede oculto detrás de la scrollbar */
  }
  